body {
    background-color: hsl(28, 10%, 53%);
    font-family: "DM Sans";
    overflow-x: hidden;
}

div.banner {
    margin-top: 5pc;
    padding: 10px 30px;
    width: 700px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 20px;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    background-position: 36pc;
    position: absolute;
    bottom: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
}

div.banner span, h2 {
    color: white;
}

h2 {
    padding-top: 10px;
}

div.content {
    margin-top: 2pc;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 20px;
    height: 600px;
    width: 700px;
    border-radius: 2pc;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 35px;
    font-weight: 700;
    color: hsl(29, 47%, 32%);
}
p {
    position: relative;
    top: 1pc;
    left: 9pc;
    margin-bottom: 0;
    color: hsl(29, 47%, 32%);
}

p.p2 {
    color: black;
}



/* CHART  */

canvas#myChart {
    width:100%;
    max-width:600px;
    background-color: rgb(255, 255, 255);
}


/* MOBILE SIZE */

@media screen and (max-width:500px) and (min-width:300px) {
    div.banner {
        padding: 10px 20px;
        width: 350px;
        background-position: 15pc;
        bottom: 80%;
    }

    div.content {
        height: 350px;
        width: 350px;
        top: 40%;
    }
    
    p {
        left: 2pc; 
        bottom: 1pc;
        font-size: 12px; 
    }

    p.p2 {
        position: relative;
        left: 2pc;
        bottom: 1pc;
    }

    span {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
    }

    canvas#myChart {
        width:90%;
        max-width:600px;
    }

}
